body {
  text-align: center;
  background-color: #e8e0d9;
  color: #0c090a;
}

.board {
  width: 80vw;
  height: 600px;
  padding: 10px;
  margin: 10px;
  background-color: #493b2a;
  border: 2px solid black;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cell {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #e8e0d9;
  border: 1px solid #0c090a;
}

.btn {
  width: 100px;
  margin: 0 10px;
  padding: 10px;
  font-weight: bold;
  background-color: #e8e0d9;
  color: black;
  border: 2px solid #0c090a;
  border-radius: 4px;
}
.active-btn {
  background-color: #593f62;
}
.reset-btn {
  background-color: #e8e0d9;
}

.yellow {
  background-color: #fbac4b;
}
.red {
  background-color: #ff6978;
}
