body {
  text-align: center;
  background-color: #2b0c59;
  color: #dca6f5;
}

.board {
  margin: 50px;
  width: 700px;
  height: 550px;
  background-color: rgb(235, 80, 153);
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cell {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #dcb0f6;
  margin: 10px;
  border: 1px solid #103d9b;
}

.btn {
  width: 100px;
  margin: 0 10px;
  padding: 10px;
  font-weight: bold;
}
.active-btn {
  background-color: #103d9b;
}

.yellow {
  background-color: yellow;
}
.red {
  background-color: rgb(252, 45, 8);
}
