body {
  text-align: center;
  background-color: #2b0c59;
  color: #dca6f5;
}

.board {
  width: 80vw;
  height: 600px;
  padding: 10px;
  margin: 10px;
  background-color: rgb(235, 80, 153);
  border: 2px solid black;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cell {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #dcb0f6;
  border: 1px solid #103d9b;
}

.btn {
  width: 100px;
  margin: 0 10px;
  padding: 10px;
  font-weight: bold;
  background-color: lightskyblue;
  color: black;
  border: 2px solid black;
  border-radius: 4px;
}
.active-btn {
  background-color: #103d9b;
}
.reset-btn {
  background-color: lightslategray;
}

.yellow {
  background-color: yellow;
}
.red {
  background-color: rgb(252, 45, 8);
}
